body {
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #262527;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 15%;
    padding-left: 30px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #d37474;
    color: black;
  }
  
  .navbar a.Home-link {
    background-color: #4CAF50;
    color: white;
  }









.slider_container{
    position: relative;
    width: 98%;
    height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.slider{
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide{
    position: relative;
    min-width: 100%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
}
@keyframes sliding {
    0% { 
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
    
}